body {
  background-color: #934324;
}

h1 {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6em;
  text-align: center;
}

.background {
  background-color: #F3E3C4;
  background-size: contain;
  width: 1450px;
  height: 400px;
  margin: auto;
}

.main_content {
  text-align: center;
}

p {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

a {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  border: none;
}

.tlacitka {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  color: azure;
  margin-top: 100px;
}

.onas,
.ohre {
  background-color: #3C2B14;
  width: 180px;
  height: 55px;
  border-radius: 45px;
  text-align: center;
  padding-top: 15px;
  color: azure;
  text-decoration: none;
}

.obrazek_volby {
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
}
