body {
  background-color: #934324;
}

h1 {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6em;
}

p {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

a {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  border: none;
}

.tlacitka {
  background-color: #3C2B14;
}
