body {
  background-color: #934324;
  margin-left: 40px;
  margin-right: 40px;
  min-width: 400px;
}

h1 {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6em;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.background {
  background-color: #F3E3C4;
  background-size: contain;
  max-width: 100%;
  height: auto;
  margin: auto;
  border-radius: 10px;

}

.main_content {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.text_content {
  flex-direction: column;
  margin: 20px;
}

p {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}

.name {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  align-items: center;
}

.bara {
  height: 100%;
  width: 300px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1.5em;
  }

  .bara {
    width: 50%;
  }
  
  .main_content {
    flex-direction: column;
  }
}
