body {
  background-color: #934324;
  margin-left: 40px;
  margin-right: 60px;
  max-width: 100%;
}

h1 {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 100%;
  padding-bottom: 15px;
}

.background {
  background-color: #F3E3C4;
  background-size: contain;
  max-width: 100x;
  height: auto;
  margin: auto;
  border-radius: 10px;
  display: flex;
}



p {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7em;
  padding: 40px;
}

a {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7em;
  border: none;
}


.obrazek_lezouci {
  height: 100%;
  width: 200px;
  border-radius: 10px
}

@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }

  p,
  a {
    font-size: 1.5em;
  }
}
